nav {
    width: 100%;
    height: 70px;
    background-color: #235390;
    position: fixed;
    display: flex;
    justify-content: center;

    .head {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 1065px;
        text-align: center;
        align-items: center;

        #duolingo {
            background-image: url("https://d35aaqx5ub95lt.cloudfront.net/images/dca3b978d07a7dfc05adb1d5526e9e21.svg");
            width: 153.2px;
            height: 36px;
        }
        
        .dropdown {
            position: relative;
            display: inline-block;
            .dropbtn {
                background-color: #04AA6D;
                color: white;
                padding: 15px 30px;
                font-size: 16px;
                border: none;
            }
            
            span {
                color: #fff;
                font-size: 15px;
                font-weight: 700;
    
                i {
                    margin-left: 5px;
                    font-size: 18px;
                    text-align: center;
                }
            }
            
            .dropdown-content {
                display: none;
                flex-direction: row;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
                border-radius: 10px;
                padding: 10px 50px;
                .column{
                    .row{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        padding: 15px 15px;
                        gap: 5px;
                        .aze-flag{
                            background-image: url("/assets/scss/layouts/nav/imgs/aze-flag.png");
                            background-position: center;
                            background-size: cover;
                            width: 50px;
                            height: 25px;
                        }
                        p{
                            text-align: center;
                        }
                    }
                    .row:hover{
                        background-color: #ddd;
                        border-radius: 10px;
                        cursor: pointer;
                    }
                }

            }
        }
        .dropdown:hover{
            .dropdown-content {display: flex;}
        }
    }
}